{% extends "base.html" %}
{% block content %}
<div class="container page-form">

    <form id="home-form" action="/result" method="post">
        <h1>Is my Food Safe?</h1>
        <div class="form-group">
            <label for="name">Business Name:</label>
            <input type="text" id="name" class="form-control" name="name" placeholder="Business Name" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
            <button type="button" onclick="getLocation()" class="btn btn-success">Use My Location</button>
        </div>
        <div>
            This program uses the King County Health API and pulls violations from the past 365 days.
            <p>
            <p>Only violations marked "red" are pulled in this report.
            <p>
            <p>Raw Data:
            <a href=https://data.kingcounty.gov/resource/gkhn-e8mn.json?$where=inspection_date%3E%222017-01-04%22&violation_type=red&$order=inspection_date,%20address%20DESC>data.kingcounty.gov</a>
        </div>
    </form>

    <p>Click the button to get your coordinates.</p>

    <p id="demo"></p>

    <script>
        var x = document.getElementById("demo");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude + "<br>Zip: ";
        }
    </script>
</div>
{% endblock %}